@import url("/styles/breakpoint/hero/lg.css");
@import url("/styles/breakpoint/hero/md.css");
@import url("/styles/breakpoint/hero/sm.css");

.hero {
  background-image: url(../../assets/hero/background.png);
  width: 100%;
  height: 100vh;
  padding: 0 10%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

  .navbar {
    padding: 2% 0;
    width: 100%;

    .navbar-collapse {
      text-align: end;

      .hk {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 70%;
      }
    }

    .navbar-nav {
      .modal {
        
        .modal-content {
          background: #0e4c75;

          .cali {
            width: 5%;
            position: absolute;
            right: 0;
            bottom: 0;
          }

          .container-modal {
            padding: 5%;
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            z-index: 20;

            .login {
              box-shadow: 2px 2px 30px black;
              background: rgb(50, 130, 181);
              background: linear-gradient(
                180deg,
                rgba(50, 130, 181, 1) 0%,
                rgba(30, 85, 119, 1) 100%
              );
              background-size: cover;
              border-radius: 20px;
              padding: 3%;
              width: 50%;
              text-align: center;
              color: white;
              margin-bottom: 30px;

              img {
                width: 30%;
              }

              .form-group {
                margin: 30px 0;
                background-color: rgba(128, 128, 128, 0.596);
              }
            }
          }
        }
      }
    }

    .collapse {
      .nav-item {
        a {
          color: white;
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
        }
      }

      .fas {
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
      }
    }
  }

  .background {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 43%;

    .container {
      padding: 20px 40px;
      backdrop-filter: blur(10px);
      h1 {
        font-size: 3em;
      }

      p {
        opacity: 0.6;
      }

      .wiki {
        margin: 15px 0;
      }
    }

    .Cvote {
      padding: 20px 40px;
      backdrop-filter: blur(10px);
      display: none;
      flex-direction: column;

      .title {
        display: flex;
        align-items: center;
        p {
          font-size: 2em;
        }
        h1 {
          font-size: 2em;
          margin-left: 7px;
          margin-bottom: 0;
        }
      }

      .imgText {
        display: flex;
        align-items: center;
        margin-top: 30px;
        .background {
          background-color: #00ada4;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30%;
          height: 30%;
          padding: 5%;

          .fas {
            font-size: 4em;
          }
        }
        p {
          margin-left: 15px;
          font-weight: 700;
          opacity: 1;
          font-size: 1.5em;
        }
      }
      .back {
        margin: 30px 0;
        text-align: center;
        display: flex;
        width: 100%;
        justify-content: center;

        .push {
          color: white;
          background-color: transparent;
          border: 1px solid white;
          padding: 3%;
          width: 60%;
        }
      }
    }

    .vote {
      display: flex;
      width: 100%;
      // display: none;

      .up-container,
      .down-container {
        width: 50%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        .up,
        .down {
          width: 100%;
          height: 100%;
          background-color: #00ada4;
          border: none;
          color: white;
          cursor: pointer;

          &:hover {
            .fa-thumbs-up {
              transition: 0.5s;
              transform: translateY(-15%);
            }

            .fa-thumbs-down {
              transition: 0.5s;
              transform: translateY(15%);
            }
          }

          .fas {
            font-size: 3em;
          }
        }

        .down {
          transform: scaleX(-1);
          background-color: #ffa300;
        }
      }
    }
  }

  .v-container {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

    .green {
      display: flex;
      align-items: center;
      padding: 2%;
      width: 50%;
      background-color: #00ada491;

      .fas {
        font-size: 2em;
        color: white;
      }

      p {
        margin-left: 10px;
      }
    }

    .orange {
      width: 50%;
      display: flex;
      align-items: center;
      text-align: end;
      justify-content: flex-end;
      background-color: #ffa20096;

      .fas {
        font-size: 2em;
        transform: scaleX(-1);
        margin-right: 10%;
        color: white;
      }

      p {
        margin-right: 10px;
      }
    }
  }
}
