@media (max-width: 1024px) {
  .hero {
    .background {
      width: 60% !important;
    }

    .Cvote {

      .imgText {

        .background {
          width: 20% !important;

          .fas {
            font-size: 3em !important;
          } 
        }
      }
    }
  }
}